POSTGRES_DB=ieumgil
POSTGRES_USER=ieumgil
POSTGRES_PASSWORD=ieumgil
POSTGRES_PORT=5432
BACKEND_PORT=8080
GRAPHHOPPER_PORT=8989

# ODsay
ODSAY_API_BASE_URL=https://api.odsay.com/v1/api
ODSAY_API_KEY=
ODSAY_SERVER_IP=

# Public Data Portal shared keys
PUBLIC_DATA_PORTAL_SERVICE_KEY_ENCODING=
PUBLIC_DATA_PORTAL_SERVICE_KEY_DECODING=

# Busan BIMS
BUSAN_BIMS_API_BASE_URL=https://apis.data.go.kr/6260000/BusanBIMS
BUSAN_BIMS_SERVICE_KEY_ENCODING=
BUSAN_BIMS_SERVICE_KEY_DECODING=

# Busan subway operation info
BUSAN_SUBWAY_OPERATION_DATASET_ID=15082980
BUSAN_SUBWAY_OPERATION_PORTAL_URL=https://www.data.go.kr/data/15082980/fileData.do
BUSAN_SUBWAY_OPERATION_SWAGGER_URL=https://infuser.odcloud.kr/oas/docs?namespace=15082980/v1
BUSAN_SUBWAY_OPERATION_API_BASE_URL=https://api.odcloud.kr/api
BUSAN_SUBWAY_OPERATION_API_PATH=/15082980/v1/uddi:e9c28907-a511-428d-b5ec-e1c6c988396a
BUSAN_SUBWAY_OPERATION_SERVICE_KEY_ENCODING=
BUSAN_SUBWAY_OPERATION_SERVICE_KEY_DECODING=
