POSTGRES_DB=ieumgil
POSTGRES_USER=ieumgil
POSTGRES_PASSWORD=ieumgil
POSTGRES_PORT=5432
BACKEND_PORT=8080
GRAPHHOPPER_PORT=8989

# ODsay
ODSAY_API_BASE_URL=https://api.odsay.com/v1/api
ODSAY_API_KEY=
ODSAY_SERVER_IP=

# Public Data Portal shared keys
PUBLIC_DATA_PORTAL_SERVICE_KEY_ENCODING=
PUBLIC_DATA_PORTAL_SERVICE_KEY_DECODING=

# Busan BIMS
BUSAN_BIMS_API_BASE_URL=https://apis.data.go.kr/6260000/BusanBIMS
BUSAN_BIMS_SERVICE_KEY_ENCODING=
BUSAN_BIMS_SERVICE_KEY_DECODING=

# Busan subway timetable
BUSAN_SUBWAY_TIMETABLE_DATASET_ID=15000522
BUSAN_SUBWAY_TIMETABLE_PORTAL_URL=https://www.data.go.kr/dataset/15000522/openapi.do
BUSAN_SUBWAY_TIMETABLE_SERVICE_KEY_ENCODING=
BUSAN_SUBWAY_TIMETABLE_SERVICE_KEY_DECODING=
